.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 8fr 1fr;
  grid-template-areas: "header header" "nav nav" "sidebar main" "footer footer";
}
* {
  box-sizing: border-box;
}
.look {
  border: 2px solid black;
  grid-area: search;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header {
  padding: 30px;
  text-align: center;
  background: white;
  grid-area: header;
}
main {
  border: 2px solid black;
  background: lightblue;
  grid-area: main;
}

nav {
  border: 2px solid black;
  background: white;
  grid-area: nav;
}

section {
  border: 2px solid black;
  background: white;
  grid-area: sidebar;
}

footer {
  border: 2px solid rgba(255, 0, 0, 1);
  background: white;
  grid-area: footer;
}
#find {
  border: none;
  border-radius: 0;
  padding: 10px;
  float: left;
  width: 72%;
  font-size: 16px;
  background-color: #eee;
}
.btn {
  padding: 9px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.btn-group button {
  background: #d9d9d9;
  border: 1px solid black;
  color: #555;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}
.articles {
  background-color: white;
  padding: 12px 8px 12px 40px;
}
.articles:nth-child(odd) {
  background: #eee;
}
.articles:hover {
  background: #ddd;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

#comment_form input,
#comment_form textarea {
  border: 4px solid rgba(0, 0, 0, 0.1);
  padding: 8px 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  outline: 0;
}

#comment_form textarea {
  width: 350px;
}

#comment_form input[type="submit"] {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #efefef, #ddd);
  background: -moz-linear-gradient(top, #efefef, #ddd);
  background: -ms-linear-gradient(top, #efefef, #ddd);
  background: -o-linear-gradient(top, #efefef, #ddd);
  background: linear-gradient(top, #efefef, #ddd);
  color: #333;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
  background: -webkit-linear-gradient(top, #eee, #ccc);
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -ms-linear-gradient(top, #eee, #ccc);
  background: -o-linear-gradient(top, #eee, #ccc);
  background: linear-gradient(top, #eee, #ccc);
  border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
  background: -webkit-linear-gradient(top, #ddd, #aaa);
  background: -moz-linear-gradient(top, #ddd, #aaa);
  background: -ms-linear-gradient(top, #ddd, #aaa);
  background: -o-linear-gradient(top, #ddd, #aaa);
  background: linear-gradient(top, #ddd, #aaa);
  border: 1px solid #999;
}

/* .navigation{} */
