* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 8fr 1fr;
  grid-template-areas: "header header" "nav nav" "sidebar main" "footer footer";
}
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
.home {
  display: flex;
  justify-content: center;
}
header {
  padding: 30px;
  text-align: center;
  background: white;
  grid-area: header;
}
header h1 {
  font-size: 50px;
}

main {
  grid-area: main;
}

nav {
  background-color: #333;
  grid-area: nav;
}
nav span {
  float: left;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav span:hover {
  background-color: #ddd;
  color: black;
}
.search {
  padding-bottom: 20px;
}
.title {
  grid-area: main;
  background-color: white;
  border: solid #333;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  text-decoration: none;
}
.titre h2 {
  font-family: "Comic Sans MS";
  color: black;
}
.content {
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
}
.content:hover {
  background-color: white;
  width: 100%;
  padding: 10px;
}
.content p {
  color: black;
  font-size: 20px;
  font-family: "Comic Sans MS";
}
.author {
  float: right;
}
.author p {
  font-family: "Comic Sans MS";
}
.bouton {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.bouton:hover {
  background-color: white;
  color: black;
}
.bouton3 {
  background-color: #ddd;
  float: right;
  border: none;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.bouton3:hover {
  background-color: white;
  color: black;
}
section {
  grid-area: sidebar;
}
.login {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #333;
}
.username select {
  background-color: #ddd;
  color: #333;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 4px 2px;
}
.username button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.find {
  border: none;
  padding: 10px;
  float: left;
  width: 75%;
  font-size: 16px;
  background-color: white;
}
.btn {
  padding: 9px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.btn-group button {
  background: rgb(80, 80, 80);
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-size: 16px;
  font-family: "Comic Sans MS";
}

.btn-group button:hover {
  background-color: #ddd;
  color: black;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group button {
  border-bottom: none;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row2 input[type="submit"] {
  background-color: #ddd;
  color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.row2 input[type="submit"]:hover {
  background-color: white;
}
.select select {
  background-color: #ddd;
  color: #333;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px 2px;
}
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.comment {
  margin-top: 20px;
}
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  grid-area: footer;
}

/* .navigation{} */
